run-name: Imported file for ${{ github.event.client_payload.title }}
name: Arr-Stack Import

on:
  repository_dispatch:
    types: [arr-import]

permissions:
  id-token: write
  contents: write

env:
  MOVIE_METADATA_FILE: movie-metadata.yml
  SHOW_METADATA_FILE: show-metadata.yml

jobs:
  movie:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        if: ${{ github.event.client_payload.instanceName == 'Radarr' }}
        uses: actions/checkout@v4.2.2
      
      - name: Update metadata file with movie information
        if: ${{ github.event.client_payload.instanceName == 'Radarr' }}
        shell: bash
        run: |
          ls # Debug
          title="${{ github.event.client_payload.movie.title }}"
          encoded_title="$(echo "$title" | sed -e 's/ /+/g' -e 's/&/%26/g')"
          release_year="${{ github.event.client_payload.remoteMovie.year }}"
          tmdb_id=${{ github.event.client_payload.remoteMovie.tmdbId }}
          tpdb_search="https://theposterdb.com/search?term=$encoded_title&section=movies"

          lower_title="${title,,}"  # convert to lowercase for comparison
          sort_title="$title"
          for article in "a " "an " "the "; do
              if [[ "$lower_title" == "$article"* ]]; then
                  sort_title="${title:${#article}}"
                  break
              fi
          done
          
          sort_title=$(echo "$sort_title" | iconv -f UTF-8 -t ASCII//TRANSLIT)
          
          echo $tmdb_id
          echo $title
          echo $release_year
          echo $sort_title
          echo $tpdb_search

          if [[ $(yq '.metadata.${{ github.event.client_payload.remoteMovie.tmdbId }}' ${{ env.MOVIE_METADATA_FILE }}) == null ]]; then
            echo "Movie does not exist, adding"
            yq -i '.metadata += {'"$tmdb_id"': {"label_title": "'"$title"'", "release_year": "'"$release_year"'", "sort_title": "'"$sort_title"'", "url_poster": "", "tpdb_search": "'"$tpdb_search"'"}}' ${{ env.MOVIE_METADATA_FILE }}
            
            # https://chatgpt.com/share/68757652-e170-8003-b6e1-d625f0fb59f8
            yq -i '
              .metadata |= (
                to_entries
                | map(
                    .value.temp_sort = (
                      (.value.sort_title | downcase)
                      | sub("\\b([0-9])\\b"; "00000${1}")
                      | sub("\\b([0-9]{2})\\b"; "0000${1}")
                      | sub("\\b([0-9]{3})\\b"; "000${1}")
                      | sub("\\b([0-9]{4})\\b"; "00${1}")
                      | sub("\\b([0-9]{5})\\b"; "0${1}")
                    )
                  )
                | sort_by(.value.temp_sort)
                | map(.value |= del(.temp_sort))
                | from_entries
              )
              ' ${{ env.MOVIE_METADATA_FILE }}
            yq -i '.metadata.${{ github.event.client_payload.remoteMovie.tmdbId }}.release_year style="single"' ${{ env.MOVIE_METADATA_FILE }}
            yq -i '.metadata.${{ github.event.client_payload.remoteMovie.tmdbId }}.url_poster style="single"' ${{ env.MOVIE_METADATA_FILE }}
            yq ${{ env.MOVIE_METADATA_FILE }} # Debug
          fi
      
      - name: Commit Changes to Main
        if: ${{ github.event.client_payload.instanceName == 'Radarr' }}
        id: commit-changes
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add ${{ env.MOVIE_METADATA_FILE }}
          git diff-index --quiet main || git commit -m "Updating ${{ github.event.client_payload.title }}" && git push

  show:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        if: ${{ github.event.client_payload.instanceName == 'Sonarr' }}
        uses: actions/checkout@v4.2.2
    
      - name: Update metadata file with show information
        if: ${{ github.event.client_payload.instanceName == 'Sonarr' }}
        shell: bash
        env:
          EPISODES: ${{ toJson(github.event.client_payload.episodes) }}
        run: |
          ls # Debug
          title="${{ github.event.client_payload.series.title }}"
          encoded_title="$(echo "$title" | sed -e 's/ /+/g' -e 's/&/%26/g')"
          release_year="${{ github.event.client_payload.series.year }}"
          tvdb_id=${{ github.event.client_payload.series.tvdbId }}
          tpdb_search="https://theposterdb.com/search?term=$encoded_title&section=shows"

          lower_title="${title,,}"  # convert to lowercase for comparison
          sort_title="$title"
          for article in "a " "an " "the "; do
              if [[ "$lower_title" == "$article"* ]]; then
                  sort_title="${title:${#article}}"
                  break
              fi
          done
          
          sort_title=$(echo "$sort_title" | iconv -f UTF-8 -t ASCII//TRANSLIT)
          
          readarray -t seasons < <(echo "$EPISODES" | jq '.[].seasonNumber' | sort -u)
          
          echo $tvdb_id
          echo $title
          echo $release_year
          echo $sort_title
          echo $tpdb_search

          if [[ $(yq '.metadata.${{ github.event.client_payload.series.tvdbId }}' ${{ env.SHOW_METADATA_FILE }}) == null ]]; then
            echo "Show does not exist, adding"
            yq -i '.metadata += {'"$tvdb_id"': {"label_title": "'"$title"'", "release_year": "'"$release_year"'", "sort_title": "'"$sort_title"'", "url_poster": "", "tpdb_search": "'"$tpdb_search"'"}}' ${{ env.SHOW_METADATA_FILE }}
            
            # https://chatgpt.com/share/68757652-e170-8003-b6e1-d625f0fb59f8
            yq -i '
              .metadata |= (
                to_entries
                | map(
                    .value.temp_sort = (
                      (.value.sort_title | downcase)
                      | sub("\\b([0-9])\\b"; "00000${1}")
                      | sub("\\b([0-9]{2})\\b"; "0000${1}")
                      | sub("\\b([0-9]{3})\\b"; "000${1}")
                      | sub("\\b([0-9]{4})\\b"; "00${1}")
                      | sub("\\b([0-9]{5})\\b"; "0${1}")
                    )
                  )
                | sort_by(.value.temp_sort)
                | map(.value |= del(.temp_sort))
                | from_entries
              )
              ' ${{ env.SHOW_METADATA_FILE }}
            yq -i '(.metadata[] | .seasons) |= (to_entries | sort_by(.key | tonumber) | from_entries)' ${{ env.SHOW_METADATA_FILE }}
            yq -i '.metadata.${{ github.event.client_payload.series.tvdbId }}.release_year style="single"' ${{ env.SHOW_METADATA_FILE }}
            yq -i '.metadata.${{ github.event.client_payload.series.tvdbId }}.url_poster style="single"' ${{ env.SHOW_METADATA_FILE }}
            yq ${{ env.SHOW_METADATA_FILE }} # Debug
          fi
          for season in "${seasons[@]}"; do
            if [[ $(yq ".metadata.${{ github.event.client_payload.series.tvdbId }}.seasons.$season" ${{ env.SHOW_METADATA_FILE }}) == null ]]; then
              echo "Season does not exist, adding"
              yq -i '.metadata.${{ github.event.client_payload.series.tvdbId }}.seasons += {'"$season"': {"url_poster": ""}}' ${{ env.SHOW_METADATA_FILE }}
              yq -i '.metadata.${{ github.event.client_payload.series.tvdbId }}.seasons.'"$season"'.url_poster style="single"' ${{ env.SHOW_METADATA_FILE }}
              yq ${{ env.SHOW_METADATA_FILE }} # Debug
            fi
          done
      
      - name: Commit Changes to Main
        if: ${{ github.event.client_payload.instanceName == 'Sonarr' }}
        id: commit-changes
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add ${{ env.SHOW_METADATA_FILE }}
          git diff-index --quiet main || git commit -m "Updating ${{ github.event.client_payload.title }}" && git push
  
  find-missing:
    runs-on: ubuntu-latest
    needs: 
      - movie
      - show
    steps:
      - name: find-missing
        uses: "chase-roohms/kometa-configs/.github/workflows/find-missing-posters.yml@main"
